* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "source sans pro";
}

.title {
    color: rgb(29, 66, 118);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    padding: 8rem 0 5rem;
}

#game-board {
    /* outline: 4px solid rgb(60, 69, 92); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 450px;
    height: 450px;
    margin: 8rem auto 0;
}

.square {
    border: 6px solid rgb(202, 204, 210);
    /* background-color: rgb(200, 214, 219); */
    color: rgb(40, 48, 68);
    font-size: 5rem;
    font-family: "reem kufi";
    font-weight: 700;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    user-select: none;
}
.tl-border {
    border-left: 0;
    border-top: 0;
}
.t-border {
    border-top: 0;
}
.tr-border {
    border-right: 0;
    border-top: 0;
}
.l-border {
    border-left: 0;
}
.r-border {
    border-right: 0;
}
.bl-border {
    border-left: 0;
    border-bottom: 0;
}
.b-border {
    border-bottom: 0;
}
.br-border {
    border-right: 0;
    border-bottom: 0;
}
#game-board .square:hover {
    background-color: rgba(158, 186, 197, 0.233);
}

.color1 {
    color: rgb(121 147 255);
}
.color2 {
    color: rgb(255, 188, 87);
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    flex: 1;
    width: 150px;
    margin-top: 0.7rem;
    padding: 6px 8px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(167, 189, 211);
    background-color: rgba(80, 168, 255, 0);
    border: 4px rgb(167, 189, 211) solid;
    cursor: pointer;
    transition: all 0.3s;
}
.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.hidden {
    display: none;
}
#game-board.hidden {
    display: none;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.188);
    border: 4px rgb(255, 159, 99) solid;
    color: rgb(29, 88, 147);
}

.pvp-title {
    margin-top: 16px;
    color: rgb(100, 100, 100);
}

#players input {
    color: rgb(104, 179, 255);
    font-family: sans-serif;
    font-weight: 700;
    margin: 1rem;
    padding: 0.3rem;
    outline: none;
    border: 3px solid rgb(255, 172, 83);
    width: 120px;
    text-align: center;
    font-size: 24px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result {
    margin-top: 2rem;
    font-size: 2.5rem;
/*     color: rgb(29, 66, 118); */
}