* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#game-board {
    outline: 3px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    margin: 36px auto 0;
    font-size: 36px;
}

#game-board .square {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    background-color: rgb(200, 214, 219);
    font-size: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#game-board .square:hover {
    background-color: rgb(158, 186, 197);
}

.btn-container {
    margin: 16px;
    display: flex;
    justify-content: center;
}
#btn-start {
    padding: 8px 10px;
    font-size: 32px;
    background-color: rgb(80, 168, 255);
    border: 2px blue solid;
    cursor: pointer;
}

#btn-start:hover {
    background-color: rgb(52, 154, 255);
}